<ion-content class="app-background">

  <div class="container">

    <h1 class="title">¿Cómo jugar?</h1>

    <ion-list lines="none" class="transparent-list">

      <ion-card *ngFor="let item of instructions" class="instruction-card">

        <div class="card-row">

          <ion-icon 
            [name]="item.icon" 
            class="instruction-icon">
          </ion-icon>

          <div class="text-content">
            <h2>{{ item.title }}</h2>
            <p>{{ item.text }}</p>
          </div>

        </div>

      </ion-card>

    </ion-list>

  </div>

   <div class="fixed-button">
    <ion-button expand="block" class="start-button" (click)="startGame()">
      Crear partida
    </ion-button>
  </div>

</ion-content>