<ion-content class="app-background">

  <div class="container">

    <h1 class="title">Selecciona la dificultad</h1>

    <ion-radio-group [(ngModel)]="selectedLevel">

      <div
        class="difficulty-card"
        *ngFor="let level of difficulties"
        [class.selected]="selectedLevel === level.id"
        (click)="selectedLevel = level.id"
      >

        <!-- RADIO -->
        <ion-radio
          class="radio-top"
          [value]="level.id"
        ></ion-radio>

        <!-- ICONO -->
        <ion-icon [name]="level.icon" class="difficulty-icon"></ion-icon>

        <!-- CONTENIDO -->
        <div class="difficulty-content" >
          <h2>{{ level.title }}</h2>
          <p>{{ level.description }}</p>

          <div class="level-badge">
            Nivel {{ level.level }}
          </div>
        </div>

      </div>

    </ion-radio-group>

  </div>

  <!-- BOTÓN -->
  <div class="fixed-button">
    <ion-button
      expand="block"
      class="start-button"
      (click)="continue()"
      [disabled]="!selectedLevel"
    >
      Continuar
    </ion-button>
  </div>

</ion-content>